.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

#editor {
  width: 40%;
  padding: 10px;
}

#preview {
  width: 60%;
  padding: 10px;
  background-color: lightcyan;
}

code {
  background-color: white;
  font-size: 0.9em;
  font-family: monospace;
}
